/**
 * @file
 * CSS for the uc_worldpay module.
 */

.uc-worldpay-worldpay-logo {
  position: relative;
  top: 6px;
}

.uc-worldpay-card-type {
  margin-right: 4px;
  position: relative;
  top: 5px;
}

#uc-worldpay-review-table {
  display: inline;
  padding-top: 1em;
}
